<!DOCTYPE html>
{% load static %}
{% include 'header.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar usuario</title>
</head>
<body>
    <div class="container">
        <div class="container pt-2" >
            <h1  >Registro</h1>
    
            <form class="row"  action="" method="post">
                {{form.as_p}}
                {% csrf_token %}
                
            <button type="submit" class="btn btn-primary" value="Enviar">
                enviar
            </button>
                    
            </form>
            <a href="{% url 'tablaUsuarios' %}" class="btn btn-info">Usuarios</a>
        </div>

</body>
</html>